<div class="thrv_wrapper thrv_icon tcb-icon-display tve_evt_manager_listen tve_et_click tve_ea_thrive_leads_form_close" data-css="tve-u-05b4a18629aa72" data-tcb-events="__TCB_EVENT_[{&quot;a&quot;:&quot;thrive_leads_form_close&quot;,&quot;t&quot;:&quot;click&quot;}]_TNEVE_BCT__">
<svg class="tcb-icon" viewBox="0 0 30 32" data-name="close">
<path d="M0.655 2.801l1.257-1.257 27.655 27.655-1.257 1.257-27.655-27.655z"></path>
<path d="M28.31 1.543l1.257 1.257-27.655 27.655-1.257-1.257 27.655-27.655z"></path>
</svg>
</div>
<div class="thrv_wrapper thrv-page-section" style="" data-css="tve-u-15b4a18629aabe">
<div class="tve-page-section-out" data-css="tve-u-25b4a18629ab0c"></div>
<div class="tve-page-section-in tve_empty_dropzone" data-css="tve-u-35b4a18629ab3e"><div class="thrv_wrapper thrv_heading" style="" data-css="tve-u-45b4a18629ab81" data-tag="h1"><h1 data-css="tve-u-55b4a18629abc5" style="text-align: center;"><span data-css="tve-u-65b4a18629ac19" style="font-weight: 300; font-family: Poppins;"><strong>Best 12 Tips</strong>... for Getting More Email Subscribers</span></h1></div><div class="thrv_wrapper thrv-columns" style=""><div class="tcb-flex-row tcb--cols--2 tcb-resized" data-css="tve-u-75b4a18629ac5e"><div class="tcb-flex-col" data-css="tve-u-85b4a18629ac9c" style=""><div class="tcb-col tve_empty_dropzone"><div class="thrv_wrapper tve_image_caption tcb-mobile-hidden" data-css="tve-u-95b4a18629ace2" style=""><span class="tve_image_frame" style="width: 100%;"><img class="tve_image wp-image-6886" alt="" width="512" height="512" title="download_icon" data-id="6886" src="{tve_leads_base_url}/images/download_icon.png" style="width: 100%;"></span></div></div></div><div class="tcb-flex-col" data-css="tve-u-105b4a18629ad28" style=""><div class="tcb-col tve_empty_dropzone" style="" data-css="tve-u-115b4a18629ad71"><div class="thrv_wrapper thrv-styled_list tcb-icon-display" data-icon-code="icon-chevron-circle-right" style="" data-icons-size="30" data-css="tve-u-125b4a18629add9"><ul class="tcb-styled-list"><li class="thrv-styled-list-item" style="" data-css="tve-u-135b4a18629ae3d"><div class="tcb-styled-list-icon"><div class="thrv_wrapper thrv_icon tve_no_drag tcb-no-delete tcb-no-clone tcb-icon-inherit-style" data-css="tve-u-145b4a18629ae89" style=""><svg class="tcb-icon" viewBox="0 0 24 28" data-name="chevron-circle-right">
<title>chevron-circle-right</title>
<path d="M11.203 21.797l7.094-7.094c0.391-0.391 0.391-1.016 0-1.406l-7.094-7.094c-0.391-0.391-1.016-0.391-1.406 0l-1.594 1.594c-0.391 0.391-0.391 1.016 0 1.406l4.797 4.797-4.797 4.797c-0.391 0.391-0.391 1.016 0 1.406l1.594 1.594c0.391 0.391 1.016 0.391 1.406 0zM24 14c0 6.625-5.375 12-12 12s-12-5.375-12-12 5.375-12 12-12 12 5.375 12 12z"></path>
</svg></div></div><span class="tve_editable tcb-styled-list-icon-text tcb-no-delete thrv-advanced-inline-text" data-css="tve-u-155b4a18629aecf">Aenean Sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</span></li><li class="thrv-styled-list-item"><div class="tcb-styled-list-icon"><div class="thrv_wrapper thrv_icon tve_no_drag tcb-no-delete tcb-no-clone tcb-icon-inherit-style" data-css="tve-u-165b4a18629af31" style=""><svg class="tcb-icon" viewBox="0 0 24 28" data-name="chevron-circle-right">
<title>chevron-circle-right</title>
<path d="M11.203 21.797l7.094-7.094c0.391-0.391 0.391-1.016 0-1.406l-7.094-7.094c-0.391-0.391-1.016-0.391-1.406 0l-1.594 1.594c-0.391 0.391-0.391 1.016 0 1.406l4.797 4.797-4.797 4.797c-0.391 0.391-0.391 1.016 0 1.406l1.594 1.594c0.391 0.391 1.016 0.391 1.406 0zM24 14c0 6.625-5.375 12-12 12s-12-5.375-12-12 5.375-12 12-12 12 5.375 12 12z"></path>
</svg></div></div><span class="tve_editable tcb-styled-list-icon-text tcb-no-delete thrv-advanced-inline-text" data-css="tve-u-175b4a18629af92">Bibendum Sagittis lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis.</span></li><li class="thrv-styled-list-item" style=""><div class="tcb-styled-list-icon"><div class="thrv_wrapper thrv_icon tve_no_drag tcb-no-delete tcb-no-clone tcb-icon-inherit-style" data-css="tve-u-185b4a18629afe7" style=""><svg class="tcb-icon" viewBox="0 0 24 28" data-name="chevron-circle-right">
<title>chevron-circle-right</title>
<path d="M11.203 21.797l7.094-7.094c0.391-0.391 0.391-1.016 0-1.406l-7.094-7.094c-0.391-0.391-1.016-0.391-1.406 0l-1.594 1.594c-0.391 0.391-0.391 1.016 0 1.406l4.797 4.797-4.797 4.797c-0.391 0.391-0.391 1.016 0 1.406l1.594 1.594c0.391 0.391 1.016 0.391 1.406 0zM24 14c0 6.625-5.375 12-12 12s-12-5.375-12-12 5.375-12 12-12 12 5.375 12 12z"></path>
</svg></div></div><span class="tve_editable tcb-styled-list-icon-text tcb-no-delete thrv-advanced-inline-text" data-css="tve-u-195b4a18629b041">Aenean Sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</span></li></ul></div><div class="thrv_wrapper thrv-button tve_ea_tl_state_switch" data-css="tve-u-205b4a18629b085" style="" data-tcb_hover_state_parent="false">
<a href="" class="tcb-button-link tve_evt_manager_listen tve_et_click" data-tcb-events="|open_state_2|">
<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text" data-css="tve-u-215b4a18629b0c9">Yes, I Want to Get Access Now</span></span>
</a>
</div></div></div></div></div></div>
</div>