<div class="tve-custom-fields-tabs"></div>
<div class="tve-advanced-controls mb-10 custom-fields-state p-10" data-state="dynamic">
	<div class="mb-10 dynamic-fields-options">
		<label><?php echo __( 'Dynamic Source', 'thrive-cb' ); ?></label>
		<select data-fn="selectDynamicField" class="change"></select>
	</div>
	<div class="custom-fields-options">
		<label><?php echo __( 'Custom Source', 'thrive-cb' ); ?></label>
		<select data-fn="selectCustomField" class="change"></select>
	</div>
	<div class="custom-fields-extra-options">
		<div class="rating-options">
			<label><?php echo __( 'Max Rating', 'thrive-cb' ); ?></label>
			<select class="rating-max change" data-fn="changeRatingMax"></select>
		</div>
	</div>
</div>